<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<%- include('partials/embed'); %>

	<link rel="stylesheet" href="/styles/base.css">
	<link rel="stylesheet" href="/styles/user.css">
	<link rel="stylesheet" href="/styles/sidebar.css">

	<!-- Bootstrap icons -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

	<title>Casinha | <%= user.username %></title>
</head>
<body>
	<%- include('partials/sidebar', { user: user }); %>

	<header>
		<div id="not-found">
			<a href="/">
				<i class="bi bi-sign-stop"></i>
				<h1>404 <br> PAGE NOT FOUND!</h1>
			</a>
		</div>
	</header>
</body>
</html>